PROJECT_ID=tu-project-id
REGION=europe-west1
POSTGRES_CONNECTION_NAME=tu-project-id:europe-west1:carpinteria-postgres
MYSQL_CONNECTION_NAME=tu-project-id:europe-west1:carpinteria-mysql
POSTGRES_PASSWORD=pon_aqui_password_postgres
MYSQL_PASSWORD=pon_aqui_password_mysql
JWT_SECRET=pon_aqui_un_jwt_largo_y_seguro
ADMIN_NAME=Administrador Carpinteria
ADMIN_EMAIL=admin@carpinteria.local
ADMIN_PASSWORD=Admin123*

